<%- include ('../../partials/header.ejs') %> <%- include
('../../partials/homenavbar.ejs')%>

<div class="container">
  <div class="card-header"><h1>PROFILE</h1></div>
  <div class="card-body">
    <img src="/img/uploads//<%= avatar %>" width="300" height="200" />
    <a href="/admin/user/avatarUpdate"><button class="btn btn-warning">Editar</button></a>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <br />
        <br />
        <tr>
          <th>Tipo do Dado</th>
          <th>Dado</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nome</th>
          <th><%= user.name %></th>
          <th>
            <a href="/admin/user/nameUpdate"><button class="btn btn-warning">Editar</button></a>
            
          </th>
        </tr>
        <tr>
          <th>Registro Acadêmico</th>
          <th><%= user.ra %></th>
          <th>
            <a href=""><button class="btn btn-warning">Editar</button></a>
          </th>
        </tr>
        <tr>
          <th>Email</th>
          <th><%= user.email %></th>
          <th>
            <a href=""><button class="btn btn-warning">Editar</button></a>
          </th>
        </tr>
        <tr>
          <th>Password</th>
          <th>******</th>
          <th>
            <a href=""><button class="btn btn-warning">Editar</button></a>
            </form>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />

<%- include ('../../partials/footer.ejs') %>
